
<div class="header_container">

  <h2>Codeial</h2>
  <div class="header_pages">
    <ul>
      <% if(locals.user) {%>
        <li class="header_name"><%= user.name %></li>
      <li>
        <a href="/users/signout">Sign Out</a>
      </li>
    
      <%} else {%>
      <li>
        <a href="/users/signin">Sign In</a>
      </li>
      <li>
        <a href="/users/signup">Sign Up</a>
      </li>
      <% } %>
    </ul>
  </div>

</div>

