<h1>Codeial/ <%= title %></h1>

<section class="feed_posts">
    <h4>POSTS</h4>
    <% if(locals.user) {%>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="type here..."></textarea>
            <input type="submit" value="Post">
        </form>
    <%}%>
   
<div class="posts_container">
    <ul>
        <% for(post of posts) {%>
            <li>
                <p>
                    <%= post.content %>
                    <br>
                    <small>
                    <%= post.user.name %>
                    </small>
                </p>

                <!-- create a form for comments -->
                <% if(locals.user) {%>
                    <form action="/comments/create" method="POST">
                        <input type="text" name="content" placeholder="Write a comment...">
                        <input type="hidden" name="post" value="<%= post._id%>">
                        <input type="submit" value="Add Comment">
                    </form>
                 <%}%>
                
            </li>
        <%}%>
    </ul>

</div>
</section>
