<form action="/users/create" method="POST">
    <input type="text" name="name" id="name" placeholder="Enter name Name">
    <input type="email" name="email" id="email" placeholder="Enter email address">
    
    <input type="password" name="password" id="password" placeholder="Create Password">
    <input type="password" name="confirm_password" placeholder="Confirm Password">
    <button type="submit">Sign Up</button>
</form>