.footer_container {
  font-family: sans-serif;
  background-image: linear-gradient(to right, #185a9d, #43cea2);
  display: flex;
  justify-content: flex-start;
  p {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 20px;
    padding-top: 5px;
  }
  ul {
    li {
      list-style: none;
      display: inline-block;
      margin: 0 10px;
      padding-top: 9px;
      a {
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
        font-weight: 500;
      }
    }
  }
}
